* {
    margin: 0;
    padding: 0;
  
}

header {
    text-align: center;

    font-family: "Itim", cursive;
}

.history {
    margin-bottom:1em;

    border: solid 2px green;

    h2 {
        font-family: "Lora", serif;
    }

    p {
        line-height: 90%;
    }

    text-indent: 4em;
}

.nutrition {
    font-family: "Itim", cursive;

    border: solid 2px blue;

    text-indent: 4em;

    margin-bottom: 1em;
}

.lawsuits {
    font-family: "Lora", serif;

    border: solid 2px red;

    text-indent: 4em;

    margin-bottom: 1em;
}